a:link {
	color: #FFF;
	font-family: "微軟正黑體";
	text-decoration: none;
}
a:visited {
	color: #FFF;
	font-family: "微軟正黑體";
	text-decoration: none;
}
a:hover {
	font-family: "微軟正黑體";
	text-decoration: none;

}
